@font-face {
  font-family: airbnb;
  src: url(AirbnbCerealBlack.ttf);
}

@font-face {
  font-family: airbnblight;
  src: url(AirbnbCerealLight.ttf);
}

@font-face {
  font-family: airbnbbook;
  src: url(AirbnbCerealBook.ttf);
}

@font-face {
  font-family: airbnbmedium;
  src: url(AirbnbCerealMedium.ttf);
}

/*==================================================*/

html {
  font-size: 100%;
}
/* .container-fluid div {
  border: 1px solid black;
} */
.buttonmenu {
  max-width: 100%;
  height: auto;
}

.cart-col {
  font-weight: bold;
  text-align: center;

  font-size: 30px;
  font-family: airbnb;
  border-left: 3px outset white;
  border-bottom: 2px outset whitesmoke;

  max-width: 100%;
  height: auto;
  padding-top: 1%;
}
.firstColumn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  padding-top: 1%;
  max-width: 100%;
  height: auto;
}

.fooditem {
  text-align: center;
  margin-bottom: 0;
  max-width: 100%;
}
.fooditem p {
  font-weight: bold;
  font-size: 30px;
  font-family: airbnbmedium;
}
.gridbackground {
  background-color: whitesmoke;
  z-index: -1;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: transparent;
  padding: 30px;
}

.grid-container div {
  background-color: transparent;
  width: 220px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px 10px;
}

.grid-container div img {
  object-fit: cover;
  width: 220px;
  max-width: 100%;
  height: 170px;
  max-height: 100%;
  position: relative;
}

.grid-container div h1 {
  font-size: 23px;
  font-family: airbnbmedium;
  margin-bottom: 0;
}
.grid-container div p {
  font-size: 23px;
  font-weight: bold;
  font-family: airbnb;
}
.menu-col {
  border-top: 3px outset white;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  position: relative;
}

.rom {
  max-width: 100%;
  height: auto;
  position: relative;
  padding: 25%;
}

.thepng img {
  width: 40px;
  max-width: 100%;
  /* padding: 20px; */
  height: auto;
  display: block;
  margin: auto;
}

.yourcart-col {
  text-align: center;
  height: auto;
  font-family: airbnbmedium;
  border-left: 2px outset whitesmoke;
  position: relative;
  padding: 40px;
}
.yourcart-col img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.grid-container .product-list {
  position: relative;
}
.grid-container div .select-image {
  width: 300px;
  height: 170px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.grid-container .product-list .select-image .icon-select {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 35%;
  bottom: 65%;
  left: 40%;
  right: 60%;
}
/*==============================================*/
/* HOME SELECT*/
/* .yourcart-col div {
  border: 1px solid black;
} */
.adder {
  border: 2px solid lightgreen;
  background-color: rgba(130, 222, 58, 0.2);
}

.adder img {
  object-fit: scale-down;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 0;
  padding: 5px;
  padding-top: 8px;
}
.addernumber {
  border: 2px solid lightgreen;
  text-align: center;
  font-size: 25px;
  color: #82de3a;
  height: auto;
}

.btn-primary {
  width: 100%;
  background-color: #57cad5;
  border: #57cad5;
  border-radius: 0 0 0 0;
  font-size: 25px;
}

.btn-secondary {
  width: 100%;
  background-color: #f24f8a;
  border: #f24f8a;
  border-radius: 0 0 0 0;
  font-size: 25px;
}

.emptybox {
  height: 200px;
}
.filledbox {
  display: grid;
  align-content: space-between;
  height: 200px;
}
.gridbox1 {
  display: grid;
  height: 400px;
  max-width: 100%;
}
.gridbox2 {
  display: grid;
  height: 400px;
  grid-auto-rows: minmax(25px, auto);
  align-content: end;
}
.orderbox {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  height: 80px;
  max-width: 100%;
}

.orderboxes1 {
  max-width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.orderboxes1 img {
  object-fit: cover;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 0;
}

.orderboxes2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-auto-rows: minmax(40px, auto); */
  max-width: 100%;
  padding-left: 10px;
}
.orderboxes3 {
  display: grid;
  align-items: end;
  text-align: end;
  width: 130px;
  font-size: 20px;
  font-weight: bold;
}
.orderboxesamount1 {
  display: grid;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
.orderboxesamount2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.ppn {
  height: 20px;
  text-align: start;
  font-family: airbnbmedium;
}
.thegrid {
  display: grid;
  height: 800px;
}
.totalprice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.total {
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  font-family: airbnbmedium;
}
.totalnumber {
  text-align: end;
  font-size: 20px;
  font-weight: bold;
  font-family: airbnbmedium;
}

/*==========================================================*/
/* CHECKOUT*/
/* .modal-body div {
  border: 1px solid black;
} */
.boxemp1 {
  display: flex;
  flex-direction: column;
  height: 100px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp2 {
  display: flex;
  flex-direction: column;
  height: 180px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp3 {
  display: flex;
  flex-direction: column;
  height: 90px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp4 {
  display: flex;
  flex-direction: column;
  height: 160px;
  font-family: airbnb;
  font-weight: bold;
}
.boxemp {
  display: flex;
  flex-direction: column;
  height: 530px;
}

.fonts {
  font-family: airbnbmedium;
  font-weight: bold;
}

.container-flex1 {
  display: flex;
  justify-content: space-between;
}

.container-flex1-1 {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
}

.container-flex1-2 {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.container-flex2 {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

.container-flex3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.container-flex3-1 {
  display: flex;
  justify-content: flex-start;
}
.container-flex3-2 {
  display: flex;
  justify-content: flex-end;
}

.container-flex4 {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.container-flex5 {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}
.container-flex6 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box2 {
  margin-right: 10px;
}
.box5 {
  margin-left: 10px;
}
.box7 {
  margin-left: 10px;
}
.box9 {
  margin-right: 15px;
}
.box12 {
  margin-left: 10px;
}
.buttonprint {
  width: 100%;
  font-size: 25px;
  background-color: #57cad5;
  color: white;
}
.buttonsendemail {
  margin-top: 0;
  width: 100%;
  font-size: 25px;
  background-color: #f24f8a;
  color: white;
}
.buttonsmooth .inputsmooth {
  border-radius: 10px 10px 10px 10px;
}

/*===================================================*/
/*ADD DATA*/
.boxem {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.boxem1 {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.boxem2 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.boxem3 {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
}

.container-flexb-1 {
  display: flex;
  justify-content: start;
  font-size: 25px;
}

.container-flexb-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  height: 200px;
}
.container-flexb-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.container-flexb-3 input {
  border: 0px;
}
.container-flexa {
  display: flex;
  flex-direction: row;
}
.container-flexc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boxempty1 {
  flex-grow: 1;
  padding-left: 15px;
}

.boxempty2 {
  flex-grow: 2;
}
.boxempty3 {
  display: flex;
  flex-direction: row;
}

.boxempty4 {
  flex-grow: 6;
}
.boxempty5 {
  display: flex;
  flex-direction: row;
}
.boxempty6 {
  flex-grow: 8;
}
.dropdowncategory {
  flex-grow: 1;
  border: none;
}
.inputtext2 {
  flex-grow: 1;
}

.buttonsmooth2 {
  border-radius: 5px 5px 5px 5px;
}

.borders {
  border: 2px solid black;
}

.buttoncancel {
  background-color: #f24f8a;
  color: white;
  width: 100px;
  margin-right: 20px;
}
.buttonadd {
  background-color: #57cad5;
  color: white;
  width: 100px;
}

.boxshadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.texts {
  height: 35px;
}

/*==============================================*/

@media screen and (max-width: 1300px) {
  .cart-col {
    font-size: 20px;
    padding: 13px;
    padding-top: 10px;
  }
  .firstColumn {
    padding-top: 0;
  }
  .firstColumn .thepng img {
    width: 35px;
    padding-top: 10px;
  }
  .fooditem {
    margin-top: 0;
    padding-top: 10px;
  }

  .fooditem p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .grid-container div h1 {
    font-size: 17px;
  }
  .grid-container div p {
    font-size: 17px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto auto;
  }
  .grid-container div {
    width: 150px;
  }
  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }

  .yourcart-col h1 {
    font-size: 20px;
  }
  .yourcart-col p {
    font-size: 15px;
  }
  /* *********************************** */

  .grid-container div .select-image {
    width: 100%;
    height: 100px;
    top: 0;
  }
  .grid-container .product-list .select-image .icon-select {
    width: 30px;
    height: 30px;
    top: 35%;
    bottom: 65%;
    left: 40%;
    right: 60%;
  }
  .addernumber {
    font-size: 20px;
  }
  .orderboxesamount1 {
    font-size: 15px;
  }

  .orderboxes3 .orderprice {
    font-size: 15px;
    width: 80px;
  }
  .orderboxes1 img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 70px;
    overflow: hidden;
  }

  .orderboxes2 {
    display: grid;
    grid-template-rows: 50% 40%;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
    padding-left: 5px;
  }
  .orderboxesamount2 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }
}

@media screen and (max-width: 1200px) {
  .orderbox1 {
    width: 70px;
  }
  .orderboxes1 img {
    width: 60px;
  }
  .orderboxes2 {
    grid-template-rows: 45% 40%;
  }
  .orderboxes3 .orderprice {
    font-size: 15px;
    width: 80px;
  }
  .orderboxesamount2 {
    grid-template-columns: 20% 20% 20%;
  }
  .orderbox {
    grid-template-columns: 1fr 2fr 1fr;
    height: 80px;
  }
}

@media screen and (max-width: 1060px) {
  .fooditem p {
    font-size: 18px;
    margin: auto;
  }
  .cart-col {
    font-size: 17px;
    padding: 10px;
  }
  .firstColumn .thepng img {
    width: 30px;

    padding-top: 10px;
  }
  .grid-container div h1 {
    font-size: 17px;
  }
  .grid-container div p {
    font-size: 17px;
  }
  .yourcart-col h1 {
    font-size: 15px;
  }
  .yourcart-col p {
    font-size: 10px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto;
  }
  .grid-container div {
    width: 170px;
  }
  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }

  .rom {
    padding: 15px;
  }

  .rom img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  /* ***************************************************** */

  .adder {
    border: 2px solid lightgreen;
  }
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 18px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 15px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 15px;
  }
  .emptybox {
    height: 50px;
  }
  .filledbox {
    display: grid;
    align-content: space-between;
    height: 150px;
  }
  .gridbox1 {
    display: grid;
    height: 300px;
  }
  .gridbox2 {
    display: grid;
    height: 200px;
    grid-auto-rows: minmax(15px, auto);
    align-content: end;
  }
  .orderbox {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    height: 80px;
    max-width: 100%;
  }

  .orderboxesamount1 {
    font-size: 15px;
  }
  .orderboxesamount2 {
    display: grid;
    grid-template-columns: 40% 40% 40%;
  }
  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 75px;
    overflow: hidden;
  }

  .orderboxes2 {
    display: grid;
    grid-template-rows: 55% 40%;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
    padding-left: 5px;
  }

  .orderboxes3 .orderprice {
    font-size: 15px;
    width: 110px;
  }
  .ppn {
    height: 15px;
    font-size: 15px;
  }
  .thegrid {
    display: grid;
    height: 500px;
  }
  .total {
    font-size: 15px;
  }
  .totalnumber {
    font-size: 15px;
  }

  .totalprice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  .yourcart-col {
    height: auto;

    padding: 35px;
  }
  .modal-content {
    position: absolute;
    top: 0;
    right: auto;
    left: auto;
    bottom: auto;
  }
}
@media screen and (max-width: 900px) {
  .orderbox1 {
    width: 70px;
  }
  .orderboxes1 img {
    width: 60px;
  }
  .orderboxes2 {
    grid-template-rows: 60% 40%;
  }
  .orderboxesamount1 {
    font-size: 13px;
  }
  .orderboxesamount2 {
    grid-template-columns: 30% 30% 30%;
  }
  .orderbox {
    grid-template-columns: 35% 35% 30%;
    height: 80px;
  }
  .orderboxes3 .orderprice {
    font-size: 13px;
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  .cart-col {
    position: sticky;
    font-size: 20px;

    width: 20%;
  }

  .firstColumn {
    display: flex;
    /* justify-content: space-evenly; */
    margin: auto;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
  }

  .firstColumn .thepng {
    width: auto;
    /* padding: 5px; */
    height: auto;
  }

  .firstColumn .thepng img {
    width: 30px;
    padding-top: 0px;
  }

  .fooditem {
    width: 75%;
    padding-top: 0;
  }
  .fooditem p {
    font-size: 20px;
    /* margin-bottom: 0; */
  }

  .grid-container div h1 {
    font-size: 20px;
  }
  .grid-container div p {
    font-size: 20px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto auto;
    width: 100%;
    grid-gap: 20px;
    padding: 30px;
  }
  .grid-container div {
    width: 100%;
    height: auto;
  }

  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }
  .gridbackground {
    background-color: lightgrey;
    position: relative;

    width: 100%;
  }
  .menu-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: auto;

    padding: 10px;
  }
  .rom {
    padding: 0;
    width: 30%;
    text-align: center;
  }
  .rom a .buttonmenu {
    width: 40px;
  }

  .yourcart-col h1 {
    font-size: 40px;
  }
  .yourcart-col img {
    padding: 30px;
  }
  .yourcart-col p {
    font-size: 30px;
  }
  /* ************************************ */

  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    padding-top: 7px;
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 30px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 25px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 25px;
  }
  .emptybox {
    display: none;
    height: 20px;
  }
  .filledbox {
    display: grid;
    align-content: space-between;
    height: 200px;
  }
  .gridbox1 {
    display: grid;
    align-content: space-between;
    height: 400px;
  }
  .gridbox2 {
    display: grid;
    height: 400px;
    /* grid-auto-rows: minmax(15px, auto); */
    align-content: space-between;
  }

  .orderbox {
    display: grid;
    height: 80px;
    width: auto;
  }
  .orderboxesamount1 {
    font-size: 25px;
  }
  .orderboxesamount2 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }

  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    width: 100%;
    max-width: 100%;
    height: 110px;

    padding: 0;
  }

  .orderboxes2 {
    grid-template-rows: 55% 30%;

    padding-left: 10px;
  }
  .orderboxes3 .orderprice {
    font-size: 25px;
    width: 100%;
  }
  .ppn {
    height: 25px;
    font-size: 25px;
  }
  .thegrid {
    display: grid;
    height: 1000px;
  }
  .total {
    font-size: 25px;
  }
  .totalnumber {
    font-size: 25px;
  }

  .totalprice {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .fooditem {
    width: 70%;
  }

  /* ============================================ */
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    padding-top: 7px;
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 30px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 25px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 25px;
  }

  .filledbox {
    align-content: space-between;
    height: 200px;
  }
  .gridbox1 {
    align-content: space-between;
    height: 400px;
  }
  .gridbox2 {
    height: 400px;
    /* grid-auto-rows: minmax(15px, auto); */
    align-content: space-between;
  }

  .orderbox {
    display: grid;
    height: 80px;
    width: auto;
  }
  .orderboxesamount1 {
    font-size: 20px;
  }
  .orderboxesamount2 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }

  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    width: 100%;
    max-width: 100%;
    height: 110px;

    padding: 0;
  }

  .orderboxes2 {
    grid-template-rows: 55% 40%;

    padding-left: 10px;
  }
  .orderboxes3 .orderprice {
    font-size: 20px;
    width: 100%;
  }
  .ppn {
    height: 20px;
    font-size: 20px;
  }
  .thegrid {
    display: grid;
    height: 1000px;
  }
  .total {
    font-size: 20px;
  }
  .totalnumber {
    font-size: 20px;
  }

  .totalprice {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .cart-col {
    font-size: 20px;

    width: 100%;
  }

  .firstColumn {
    display: flex;

    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
  }
  .firstColumn .thepng {
    width: 15%;
    padding: 0;
  }
  .firstColumn .thepng img {
    width: 35px;
  }
  .fooditem {
    width: 70%;
  }
  .fooditem p {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .grid-container div h1 {
    font-size: 15px;
  }
  .grid-container div p {
    font-size: 15px;
  }

  .grid-container {
    float: none;
    grid-template-columns: auto auto;
    width: 100%;
    grid-gap: 20px;
    padding: 30px;
  }
  .grid-container div {
    width: 100%;
    height: auto;
  }

  .grid-container div img {
    object-fit: cover;
    width: 220px;
    max-width: 100%;
    height: 100px;
    max-height: auto;
  }
  .gridbackground {
    background-color: lightgrey;
    position: relative;

    width: 100%;
  }
  .menu-col {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    height: auto;

    padding: 10px;
  }
  .rom {
    padding: 0;
    width: 30%;
    text-align: center;
  }

  .yourcart-col h1 {
    font-size: 30px;
  }
  .yourcart-col img {
    padding: 30px;
  }
  .yourcart-col p {
    font-size: 20px;
  }

  /* ===================================== */
  .adder img {
    width: 100%;
    height: auto;

    margin-top: 0;
    padding: 2px;
    padding-top: 7px;
  }
  .addernumber {
    border: 2px solid lightgreen;

    font-size: 30px;

    height: auto;
  }
  .btn-primary {
    width: 100%;

    font-size: 25px;
  }

  .btn-secondary {
    width: 100%;
    font-size: 25px;
  }

  .filledbox {
    align-content: space-between;
    height: 200px;
  }
  .gridbox1 {
    align-content: space-between;
    height: 400px;
  }
  .gridbox2 {
    height: 400px;
    /* grid-auto-rows: minmax(15px, auto); */
    align-content: space-between;
  }

  .orderbox {
    display: grid;
    height: 80px;
    width: auto;
  }
  .orderboxesamount1 {
    font-size: 20px;
  }
  .orderboxesamount2 {
    display: grid;
    grid-template-columns: 25% 25% 25%;
  }

  .orderboxes1 {
    width: 100%;
  }

  .orderboxes1 img {
    width: 100%;
    max-width: 100%;
    height: 100px;

    padding: 0;
  }

  .orderboxes2 {
    grid-template-rows: 50% 50%;

    padding-left: 10px;
  }
  .orderboxes3 .orderprice {
    font-size: 20px;
    width: 100%;
  }
  .ppn {
    height: 20px;
    font-size: 20px;
  }
  .thegrid {
    display: grid;
    height: 1000px;
  }
  .total {
    font-size: 20px;
  }
  .totalnumber {
    font-size: 20px;
  }

  .totalprice {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .orderboxes1 img {
    width: 100%;
    max-width: 100%;
    height: 80px;

    padding: 0;
  }
  .orderboxes3 .orderprice {
    font-size: 15px;
    width: 80px;
  }
  .orderboxesamount1 {
    font-size: 15px;
  }
  .addernumber {
    font-size: 25px;

    height: auto;
  }
}
